<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <u>Project</u><br>
   <b>{{sub_space_master_data.sub_space_name}}</b> 
    
    <br><br><br>
    <u>Task</u><br>
    {% for t in task_data %}
        <i><b>{{t.task_name}}</b></i><br>
          
        {% for st in t.sub_task_taskid.all %}
            {{st.sub_task_name}}<br>
        {% endfor %}
        <br><br><br>
    {% endfor %}

    <br><br><br>

    


</body>
</html>