
{% load permissions %}

<div class="card-body body-change card-border">
    <div class="d-flex align-items-center justify-content-between">
        <h2 class="main-heading-txt">{{space_dept.space_name}}</h2>
        <div class="search-field-icon">

            <input type="search" class="search-class" placeholder="Search">
            <button type="button" style="cursor: pointer;"  data-space-id="{{space_dept.id}}" class="new_project create-task">Create New Project</button>
        </div>
    </div>

    <div class="row">

        <div class="col-md-12 col-sm-12 col-12">
            <table id="datatable" class="table table-striped dt-responsive table-bordered nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                <thead class="border-class">

                    <tr class="heading-text">
                        <th>Task title</th>
                        <th>Assigned to</th>
                        <th>Attachments & Checklist</th>
                        <th>Priority</th>
                        <th>Due</th>
                        <th>Bucket</th>
                        <th></th>
                    </tr>
                </thead>


                <tbody class="body-textcls vertcle-center">
                    {% for i in sub_space_data %}
                    {% if request.user in i.invite_user_auth_id.all %} 
                    <tr>
                        <td>

                            <div class="checkbox margin-check checkbox-primary checkbox-circle">
                                <input id="checkbox-9" type="checkbox" class="padd-radio">
                                <label for="checkbox-9">
                  
                                </label>
                                <p class="main-head"><a href="view_project_page?sub_space_id={{i.id}}">{{i.sub_space_name}}</a></p>
                            </div>

                        </td>
                        <td>
                            <div class="profile-image d-flex align-items-center">
                                {% for j in i.invite_user_details_id.all %}
                                <img src="./media/{{j.photo}}">
                                {% endfor %}
                                <div class="circle-user">
                                    <i class="ion-plus"></i>5
                                </div>
                                <div class="circle-plus-brdr">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="files">
                                <i class="md-attach-file"></i><span>{{i.sub_space_attachment.count}}</span> &ensp;
                                <i class="ion-checkmark-circled"></i> <span>0/{{i.sub_space_checklist.count}}</span>
                            </div>
                        </td>
                        <td>
                            {% if i.priority == "Urgent" %}
                            <img src="../static/assets/images/bell.png" class="img-fluid danger-icon">

                            {% elif i.priority == "Important" %}
                            <img src="../static/assets/images/danger.png" class="img-fluid danger-icon">

                            {% elif i.priority == "Medium" %}
                            <img src="../static/assets/images/greendot.png" class="img-fluid danger-icon">

                            {% elif i.priority == "Low" %}
                            <img src="../static/assets/images/bluearrow.png" class="img-fluid danger-icon">

                            {% endif %}
                           {{i.priority}}
                        </td>

                        <td> 
                            {% if request.user.id|due_date_check_sub_space:i.id == True %}
                            <i class="ion-calendar"></i>&ensp;{{i.Planning_end_date|safe}}
                            {% else %}
                            <span  class="badge badge-size badge-pill badge-danger"><i class="ion-calendar"></i>&ensp;{{i.Planning_end_date|safe}}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if i.bucket_mapping_id.status_color == "red" %}
                            
                            <span class="badge badge-size badge-pill badge-red">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "yellowgreen" %}
                            
                            <span class="badge badge-size badge-pill badge-yellow">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "green" %}
                            
                            <span class="badge badge-size badge-pill badge-green">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "blue" %}
                            
                            <span class="badge badge-size badge-pill badge-primary">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "darkorange" %}
                            
                            <span class="badge badge-size badge-pill badge-info">{{i.bucket_mapping_id}}</span>

                            {% else %}
                                 <span class="badge badge-size badge-pill badge-secondary">{{i.bucket_mapping_id}}</span>
                            {% endif %}
                        </td>
                        <td>

                            <button type="button" class="btn btn-more-data waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
                            <i class="md-more-vert"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="view_project_page?sub_space_id={{i.id}}" class="dropdown-item">View Project</a></li>
                                <li><a href="#" class="dropdown-item">Another action</a></li>
                                <li><a href="#" class="dropdown-item">Something else here</a></li>
                                <li><a href="#" class="dropdown-item">Separated link</a></li>
                            </ul>
                        </td>
                    </tr>

                    {% elif request.user in i.space_id.manager_auth.all %} 
                    <tr>
                        <td>

                            <div class="checkbox margin-check checkbox-primary checkbox-circle">
                                <input id="checkbox-9" type="checkbox" class="padd-radio">
                                <label for="checkbox-9">
                  
                                </label>
                                <p class="main-head"><a href="view_project_page?sub_space_id={{i.id}}">{{i.sub_space_name}}</a></p>
                            </div>

                        </td>
                        <td>
                            <div class="profile-image d-flex align-items-center">
                                {% for j in i.invite_user_details_id.all %}
                                <img src="./media/{{j.photo}}">
                                {% endfor %}
                                <div class="circle-user">
                                    <i class="ion-plus"></i>5
                                </div>
                                <div class="circle-plus-brdr">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="files">
                                <i class="md-attach-file"></i><span>{{i.sub_space_attachment.count}}</span> &ensp;
                                <i class="ion-checkmark-circled"></i> <span>0/{{i.sub_space_checklist.count}}</span>
                            </div>
                        </td>
                        <td>
                            {% if i.priority == "Urgent" %}
                            <img src="../static/assets/images/bell.png" class="img-fluid danger-icon">

                            {% elif i.priority == "Important" %}
                            <img src="../static/assets/images/danger.png" class="img-fluid danger-icon">

                            {% elif i.priority == "Medium" %}
                            <img src="../static/assets/images/greendot.png" class="img-fluid danger-icon">

                            {% elif i.priority == "Low" %}
                            <img src="../static/assets/images/bluearrow.png" class="img-fluid danger-icon">

                            {% endif %}
                           {{i.priority}}
                        </td>

                        <td> 
                            {% if request.user.id|due_date_check_sub_space:i.id == True %}
                            <i class="ion-calendar"></i>&ensp;{{i.Planning_end_date|safe}}
                            {% else %}
                            <span  class="badge badge-size badge-pill badge-danger"><i class="ion-calendar"></i>&ensp;{{i.Planning_end_date|safe}}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if i.bucket_mapping_id.status_color == "red" %}
                            
                            <span class="badge badge-size badge-pill badge-red">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "yellowgreen" %}
                            
                            <span class="badge badge-size badge-pill badge-yellow">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "green" %}
                            
                            <span class="badge badge-size badge-pill badge-green">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "blue" %}
                            
                            <span class="badge badge-size badge-pill badge-primary">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "darkorange" %}
                            
                            <span class="badge badge-size badge-pill badge-info">{{i.bucket_mapping_id}}</span>

                            {% else %}
                                 <span class="badge badge-size badge-pill badge-secondary">{{i.bucket_mapping_id}}</span>
                            {% endif %}
                        </td>
                        <td>

                            <button type="button" class="btn btn-more-data waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
                            <i class="md-more-vert"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="view_project_page?sub_space_id={{i.id}}" class="dropdown-item">View Project</a></li>
                                <li><a href="#" class="dropdown-item">Another action</a></li>
                                <li><a href="#" class="dropdown-item">Something else here</a></li>
                                <li><a href="#" class="dropdown-item">Separated link</a></li>
                            </ul>
                        </td>
                    </tr>

                    {% elif request.user.user_details_authuser.all.0.user_type == 'company_admin' %}
                    <tr>
                        <td>

                            <div class="checkbox margin-check checkbox-primary checkbox-circle">
                                <input id="checkbox-9" type="checkbox" class="padd-radio">
                                <label for="checkbox-9">
                  
                                </label>
                                <p class="main-head"><a href="view_project_page?sub_space_id={{i.id}}">{{i.sub_space_name}}</a></p>
                            </div>

                        </td>
                        <td>
                            <div class="profile-image d-flex align-items-center">
                                {% for j in i.invite_user_details_id.all %}
                                <img src="./media/{{j.photo}}">
                                {% endfor %}
                                <div class="circle-user">
                                    <i class="ion-plus"></i>5
                                </div>
                                <div class="circle-plus-brdr">
                                    <i class="fa fa-plus"></i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="files">
                                <i class="md-attach-file"></i><span>{{i.sub_space_attachment.count}}</span> &ensp;
                                <i class="ion-checkmark-circled"></i> <span>0/{{i.sub_space_checklist.count}}</span>
                            </div>
                        </td>
                        <td>
                            {% if i.priority == "Urgent" %}
                            <img src="../static/assets/images/bell.png" class="img-fluid danger-icon">

                            {% elif i.priority == "Important" %}
                            <img src="../static/assets/images/danger.png" class="img-fluid danger-icon">

                            {% elif i.priority == "Medium" %}
                            <img src="../static/assets/images/greendot.png" class="img-fluid danger-icon">

                            {% elif i.priority == "Low" %}
                            <img src="../static/assets/images/bluearrow.png" class="img-fluid danger-icon">

                            {% endif %}
                           {{i.priority}}
                        </td>

                        <td> 
                            {% if request.user.id|due_date_check_sub_space:i.id == True %}
                            <i class="ion-calendar"></i>&ensp;{{i.Planning_end_date|safe}}
                            {% else %}
                            <span  class="badge badge-size badge-pill badge-danger"><i class="ion-calendar"></i>&ensp;{{i.Planning_end_date|safe}}</span>
                            {% endif %}
                        </td>
                        <td>
                            {% if i.bucket_mapping_id.status_color == "red" %}
                            
                            <span class="badge badge-size badge-pill badge-red">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "yellowgreen" %}
                            
                            <span class="badge badge-size badge-pill badge-yellow">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "green" %}
                            
                            <span class="badge badge-size badge-pill badge-green">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "blue" %}
                            
                            <span class="badge badge-size badge-pill badge-primary">{{i.bucket_mapping_id}}</span>

                            {% elif i.bucket_mapping_id.status_color == "darkorange" %}
                            
                            <span class="badge badge-size badge-pill badge-info">{{i.bucket_mapping_id}}</span>

                            {% else %}
                                 <span class="badge badge-size badge-pill badge-secondary">{{i.bucket_mapping_id}}</span>
                            {% endif %}
                        </td>
                        <td>

                            <button type="button" class="btn btn-more-data waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
                            <i class="md-more-vert"></i>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a href="view_project_page?sub_space_id={{i.id}}" class="dropdown-item">View Project</a></li>
                                <li><a href="#" class="dropdown-item">Another action</a></li>
                                <li><a href="#" class="dropdown-item">Something else here</a></li>
                                <li><a href="#" class="dropdown-item">Separated link</a></li>
                            </ul>
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}
                    
        </tbody>
        </table>

    </div>
</div>
</div>







<script>
    $(".new_project").click(function(){
      
    var space_id = $(this).attr("data-space-id")
    $("#space_id").val(space_id)
    $(".project_modal").modal("show")
  
    $.ajax(
    {
        type:"GET",
        url: "get_bucket_details",
        data:{
            space_id: space_id
        },
        success: function( data ) 
        {
            
            $("#bucket_append").empty().append(data)
        }
     });
    })
</script>

<!-- <script>
    $(".project_class").submit(function () {
        event.preventDefault()
        if( $('.member_data').is(':checked') ) {
            document.forms["project_form"].submit();
    }
    else {
        document.getElementById("message").style.display = "block";
        document.getElementById("message").innerHTML = "Please choose a employee!";
    }
    })
</script> -->
