{% extends "base.html" %}
{% load static %}
{% load permissions %}
{% block content %}

<style>
    .capital 
{
    text-transform:capitalize;
}
</style>

                

    <div class="content-right">
     
        <div class="margin-class-this chat-section">

            <div class="row">
              <div class="col-md-12">
                <div class="card card-shadow">

                    <div class="card-body body-change card-border">
                        <div class="d-flex align-items-center justify-content-between">
                            <h2 class="main-heading-txt">Member Management</h2>
                            {% if request.user.id|permission_change:"Team member ,write" %}
                            <button type="button" class="btn btn-pink waves-effect waves-light w-md m-b-5" data-toggle="modal" data-target="#member-modal"><i class="fa fa-plus"></i> New</button>
                            
                            {% elif request.user.id|permission_manage_all:"Team member" %}
                            <button type="button" class="btn btn-pink waves-effect waves-light w-md m-b-5" data-toggle="modal" data-target="#member-modal"><i class="fa fa-plus"></i> New</button>
                            
                           {%endif%}
                        </div>

                        <div class="row mt-4">

                            <div class="col-md-12 col-sm-12 col-12">
                                <table id="datatable" class="table table-striped dt-responsive table-bordered nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                    <thead class="border-class">

                                        <tr class="heading-text">
                                            <th style="width: 150px;">User Image</th>                                                           
                                            <th>Name</th>
                                            <th>Company Name</th>
                                            <th>Username</th>
                                            <th>Phone</th>
                                            <th>Email</th>
                                            <th></th>
                                           
                                        </tr>
                                    </thead>


                                    <tbody class="body-textcls vertcle-center">
                                        {% for i in member_data %}
                           
                                        {% if i.user_type == "company_admin" %}
              
                                        {% else %}
                                        <tr>
                                            <td>
                                                <div class="" >
                                                    <img style=" width: 45px;  height: 45px;
                                                     border-radius: 50px;"  src="./media/{{i.photo}}" alt="">
                                                </div>
                                            </td>
                                            <td>{{i.name}}</td>
                                            <td>{{i.company_name}}</td>
                                            <td>{{i.username}} </td>
                                            <td>{{i.phone}} </td>
                                            <td>{{i.email}} </td>
                                            <td>
                                                <div class="action-tbl d-flex justify-content-end">

                                                    {% if request.user.id|permission_change:"Team member ,edit" %}
                                                    <a href="#" class="member_edit" data-id="{{i.id}}"><i class="fa fa-pencil mx-1 pencil-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"></i></a>
                                                    {% elif request.user.id|permission_manage_all:"Team member" %}
                                                    <a href="#" class="member_edit" data-id="{{i.id}}"><i class="fa fa-pencil mx-1 pencil-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"></i></a>
                                                    {%endif%}

                                                    {% if request.user.id|permission_change:"Team member ,delete" %}
                                                    <a href="#" class="member_delete" data-id="{{i.id}}"><i class="fa fa-trash-o mx-1 trash-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i></a>
                                                    {% elif request.user.id|permission_manage_all:"Team member" %}
                                                    <a href="#" class="member_delete" data-id="{{i.id}}"><i class="fa fa-trash-o mx-1 trash-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i></a>
                                                    {%endif%}



                                                    <!-- <i class="fa fa-save mx-1 sv-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save"></i>
                                                    <i class="ion-close mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel"></i>  -->
                                                </div>
                                            </td>
                                        </tr>
                                       
                                        {% endif %}
                                        {% endfor %}
                                    </tbody>
                                </table>

                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
        </div>
    </div>

<div id="member_edit_div"></div>
<div id="member_delete_div"></div>

<form name="user_form" class="submit_action" method="POST" action="user_management_action" enctype="multipart/form-data">
    {% csrf_token %}   
    <input type="hidden" name="user_type" value="company_staff">

<div id="member-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" style="display: none">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Create New User</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Name</label>
                        <input type="text" required name="name" required class="form-control capital" id="field-1" placeholder="Yourname">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">User Image</label>
                        <div class="input-group uploadFile1">
                           
                            <input type="file" accept="image/*"   required name="photo" class="inputfile form-control" name="file" >
                            <div class="input-group-append">
                                <span class="input-group-text"> <i class="fas fa-paperclip"></i></span>
                            </div>
                        </div>
       
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Phone</label>
                        <input type="text" id="phone_number" autocomplete="off" minlength="8" onkeyup="no_validation(this)"   required class="form-control numberField" name="phone">
                        <!-- <div style="display:none;color:red;" class="form-control alertshow">*phone number should be 8 digits</div> -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Email</label>
                        <input type="email" required name="email" class="form-control" id="email_id" placeholder="yourmail@gmail.com">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Username</label>
                        <input type="text" id="username_id" required name="username" class="form-control" placeholder="Userame">
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-2" class="control-label">Manager</label>
                        <select class="form-control" name="manager_id">
                            {% for data in  manager_data %}
                                <option value="{{data.id}}">{{data.name}}</option>
                            {% endfor %}
                         </select>                                                            
                    </div>
                </div>
               
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Password Option</label>
                        <div class="my-1">
                            <div class="radio radio-primary form-check-inline">
                                <input type="radio" required id="Manual"  name="password_option"  value="Manual">
                                <label for="Manual"> Manual </label>
                            </div>
                            <div class="radio radio-primary form-check-inline">
                                <input type="radio" required  id="Automatic"  name="password_option" value="Automatic">
                                <label for="Automatic"> Automatic </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <input type="password" style="display:none;" autocomplete="off" class="form-control" name="password" id="password2" placeholder="Enter Password">
                            </div>
                            <div class="col-sm-6">
                                <input type="password" style="display:none;" autocomplete="off" class="form-control" name="confirm_password" id="password3" placeholder="Confirm Password">
                                <span id='message_new'></span>
                            </div>
                        </div>
                       
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">User Type</label>
                        <div class="my-1">
                            <div class="radio radio-primary form-check-inline">
                                <input type="radio" required name="user_level" value="Manager">
                                <label for="inlineRadio1"> Manager </label>
                            </div>
                            <div class="radio radio-primary form-check-inline">
                                <input type="radio" name="user_level" value="Normal Staff">
                                <label for="inlineRadio2"> Normal Staff </label>
                            </div>
                        </div>
                       
                       
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-1" class="control-label">User Type</label>
                        <table id="datatable" class="table dt-responsive table-bordered nowrap usertype-tbl mt-2" style="border-collapse: collapse; border-spacing: 0; width: 100%;">


                                <tr>
                                    <th class="th_btnpand">
                                        <div class="appnd_user_btn append_btn" style="cursor: pointer;">+</div>
                                    </th>
                                    <th  class="th_user_role">Role</th>
                                    <th class="th_user_decrptn">Description</th>
                                    <th class="th_user_strtdate">Start Date</th>
                                    <th class="th_user_enddate">End Date</th>
                                </tr>
                                <tbody class="apenduser">
                                <tr>
                                    <td class="th_btnpand">
                                        <div class="appnd_user_minus_btn appnd_minus_btn" style="cursor: pointer;">-</div>
                                    </td>
                                    <td class="th_user_role">
                                        <select class="form-control" name="role_id[]">
                                            {% for role in  role_data %}
                                            <option value="{{role.id}}">{{role.role_name}}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td class="th_user_decrptn">
                                        <input name="role_description[]" class="form-control">
                                    </td>
                                    <td class="th_user_strtdate">
                                        <div class="input-group date">
                                            <input  name="role_start_dt[]" value="{{today_date|safe}}" min="{{today_date}}" type="date" class="input form-control" >
                                        </div>
                                    </td>
                                    <td class="th_user_enddate">
                                        <div class="input-group date">
                                            <input  name="role_end_dt[]" type="date" min="{{today_date}}" class="input form-control">
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            


                           
                        </table>
                    </div>
                </div>

            </div>

        </div>
        <div class="modal-footer">

            <button type="submit" style="background-color:#f9365f!important;border: none!important;"
                class="btn btn-info waves-effect waves-light">Save </button>
        </div>
    </div>
</div>
</div>
</form>

{% block scripts %}


<script type="text/javascript">
    $(document).ready(function() {
    $(".appnd_user_btn").click(function() {
    
        $(".apenduser").append("<tr>\n" +
            "                                    <td class=\"th_btnpand\">\n" +
            "                                        <div style=\"cursor: pointer;\" class=\"appnd_user_minus_btn appnd_minus_btn\">-</div>\n" +
            "                                    </td>\n" +
            "                                    <td class=\"th_user_role\">\n" +
            "                                        <select name=\"role_id[]\" class=\"form-control\">\n" +
            "                                            {% for role in  role_data %}\n" +
            "                                           <option value=\"{{role.id}}\">{{role.role_name}}</option>\n" +
            "                                           {% endfor %}\n" +
            "                                        </select>\n" +
            "                                    </td>\n" +
            "                                    <td class=\"th_user_decrptn\">\n" +
            "                                        <input name=\"role_description[]\" class=\"form-control\">\n" +
            "                                    </td>\n" +
            "                                 <td class=\"th_user_strtdate\">\n" +
            "                                        <div class=\"input-group date\">\n" +
            "                                            <input name=\"role_start_dt[]\" value=\"{{today|safe}}\" type=\"date\" class=\"input form-control\" id=\"datetimepicker\"> \n" +
            "                                        </div>\n" +
            "                                    </td>\n" +
            "                                    <td class=\"th_user_enddate\">\n" +
            "                                        <div class=\"input-group date\">\n" +
            "                                            <input name=\"role_end_dt[]\" type=\"date\"  class=\"input form-control\" id=\"datetimepicker\"> \n" +
            "                                        </div>\n" +
            "                                    </td>\n" +
                                               
            "                                </tr>");
        $(".appnd_user_minus_btn").click(function() {
            $(this).parent().parent().remove();
        });
    });
    });
    $(".appnd_user_minus_btn").click(function() {
            $(this).parent().parent().remove();
        });
</script>


<script>
    $("#Manual").click(function(){

        $("#password2").show()
        $("#password3").show()
    })
    $("#Automatic").click(function(){
        $("#password2").hide()
        $("#password3").hide()
    })
</script>



<script>
    $(".member_edit").click(function(){
        var id = $(this).attr("data-id")
        var url ="member_edit_modal";
        $.ajax({
        url: url,
        data: {
          'id': id
        },
        success: function (data) {
            $("#member_edit_div").html(data);
            $('#member_edit_modal').modal('show');
        }
      });messageCheckbox
    })
</script>

<script>
    $(".member_delete").click(function(){
        var id = $(this).attr("data-id")
        var url ="member_delete_modal";
        $.ajax({
        url: url,
        data: {
          'id': id
        },
        success: function (data) {
            $("#member_delete_div").html(data);
            $('#member_delete_modal').modal('show');
        }
      });messageCheckbox
    })
</script>


<script>
    $('#password2,#password3').on('keyup', function () {
        if ($('#password2').val() == $('#password3').val()) {
            $('#message_new').html('Matching').css('color', 'green');
        }
        else{
            $('#message_new').html('Not Matching').css('color', 'red');
        }
    });
</script>


<script>
    var userName = document.querySelector('.numberField');
    userName.addEventListener('input', restrictNumber);
    function restrictNumber (e) {
        var newValue = this.value.replace(new RegExp(/[^\d]/,'ig'), "");
        this.value = newValue;
    }
</script>


<!-- <script>
    function no_validation(status){
    if (status.value.length != 10) {
      $(".alertshow").show()
          }
          else if (status.value.length == 10){
          $(".alertshow").hide()
  }
    }
  </script> -->



  
<script>
    $(".submit_action").submit(function(){

        event.preventDefault()
        $.ajax({                    
        url: "user_details_check",                    
        data: {
          username : $("#username_id").val(),
          password2 : $("#password2").val(),
          password3 : $("#password3").val(),
          email_id : $("#email_id").val(),
          phone_number : $("#phone_number").val(),
          Manual :  $("#Manual").is(":checked")
         

        },
        success: function (data) {  
            status = data['message']
            if(status == "usernameTrue"){
                var toastMixin = Swal.mixin({
                toast: true,
                icon: 'error',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 1000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
                });
                toastMixin.fire({
                animation: true,
                title: 'username already exists'
                });
            }
            else if(status == "passwordTrue"){
                var toastMixin = Swal.mixin({
                toast: true,
                icon: 'error',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 1000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
                });
                toastMixin.fire({
                animation: true,
                title: "password doesn't match"
                });
            }
            else if(status == "emailTrue"){
                var toastMixin = Swal.mixin({
                toast: true,
                icon: 'error',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 1000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
                });
                toastMixin.fire({
                animation: true,
                title: "Email id already exist"
                });
            }
            else if(status == "password_blankTrue"){
                var toastMixin = Swal.mixin({
                toast: true,
                icon: 'error',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 1000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
                });
                toastMixin.fire({
                animation: true,
                title: "Please enter a password"
                });
            }

            else if(status == "phoneTrue"){
                var toastMixin = Swal.mixin({
                toast: true,
                icon: 'error',
                title: 'General Title',
                animation: false,
                position: 'top-right',
                showConfirmButton: false,
                timer: 1000,
                timerProgressBar: true,
                didOpen: (toast) => {
                toast.addEventListener('mouseenter', Swal.stopTimer)
                toast.addEventListener('mouseleave', Swal.resumeTimer)
                }
                });
                toastMixin.fire({
                animation: true,
                title: "Phone number should be minimum 8 digits"
                });
            }
            else{
               
                document.forms["user_form"].submit();
                
            }
        }
      });
    })
</script>

{% endblock %}
{% endblock %}