{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Create New Role</h4>
            <ol class="breadcrumb pull-right">
                <!-- <li><a href="#">Moltran</a></li>
                <li><a href="#">Mail</a></li>
                <li class="active">Compose Mail</li> -->
            </ol>
        </div>
    </div>
    <form name="role_form" method="POST" action="role_management_action">
        {% csrf_token %}

    <div class="row">
        
        <!-- Right Sidebar -->
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-right">
                        <div class="btn-toolbar" role="toolbar">
                            
                            <button type="submit" class="btn btn-purple waves-effect waves-light"> <span>Save</span> <i class="fa fa-send m-l-10"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card m-t-20">
                <div class="card-body p-t-30">
                    
                        <div class="form-group">
                            
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;"> Name</label>
                                    <input type="text" name="name" required  class="form-control" placeholder="Role Name">
                                </div>
                              
                                <div class="col-md-6">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;">Description</label>
                                  <input type="text" name="description" class="form-control">
                                </div>
                                    <div class="card m-2 mt-4">
                                            <table class="table table-bordered">
                                                <thead>
                                                <tr class="bgcolr1">
                                                    <th>Nav Name</th>
                                                    <th>Read</th>
                                                    <th>Write</th>
                                                    <th>Edit</th>
                                                    <th>Delete</th>
                                                    <th>View All</th>
                                                    <th>Manage All</th>
                
                                                </tr>
                                                </thead>
                                                <tbody>
                
                                                <tr>
                                                    <th style="font-weight: 400;
                                                    font-size: 11px;">Company</th>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input id="company_read" name="company_read" type="checkbox" value="True">
                                                            
                                                            <label for="company_read"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" id="company_write" name="company_write" value="True">
                                                            <label for="company_write"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="company_edit" id="company_edit" value="True">
                                                            <label for="company_edit"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="company_delete" id="company_delete" value="True">
                                                            <label for="company_delete"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox"  name="company_view_all" id="company_view_all" value="True">
                                                            <label for="company_view_all"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="company_manage_all" id="company_manage_all" value="True">
                                                            <label for="company_manage_all"></label>
                                                        </div>
                                                    </td>
                
                                                </tr>
                
                                                <tr>
                                                    <th style="font-weight: 400;
                                                    font-size: 11px;">User management</th>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="user_read" id="user_read" value="True">
                                                            <label for="user_read"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="user_write" id="user_write" value="True">
                                                            <label for="user_write"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="user_edit" id="user_edit" value="True">
                                                            <label for="user_edit"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="user_delete" id="user_delete" value="True">
                                                            <label for="user_delete"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="user_view_all" id="user_view_all" value="True">
                                                            <label for="user_view_all"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="user_manage_all" id="user_manage_all" value="True">
                                                            <label for="user_manage_all"></label>
                                                        </div>
                                                    </td>
                
                                                </tr>
                
                                                <tr>
                                                    <th style="font-weight: 400;
                                                    font-size: 11px;">Role</th>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="role_read" id="role_read" value="True">
                                                            <label for="role_read"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="role_write" id="role_write" value="True">
                                                            <label for="role_write"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="role_edit" id="role_edit" value="True">
                                                            <label for="role_edit"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="role_delete" id="role_delete" value="True">
                                                            <label for="role_delete"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="role_view_all" id="role_view_all" value="True">
                                                            <label for="role_view_all"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="role_manage_all" id="role_manage_all" value="True">
                                                            <label for="role_manage_all"></label>
                                                        </div>
                                                    </td>
                
                                                </tr>
                
                                                <tr>
                                                    <th style="font-weight: 400;
                                                    font-size: 11px;">Team member</th>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="team_member_read" id="team_member_read" value="True">
                                                            <label for="team_member_read"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="team_member_write" id="team_member_write" value="True">
                                                            <label for="team_member_write"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="team_member_edit" id="team_member_edit" value="True">
                                                            <label for="team_member_edit"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="team_member_delete" id="team_member_delete" value="True">
                                                            <label for="team_member_delete"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="team_member_view_all" id="team_member_view_all" value="True">
                                                            <label for="team_member_view_all"></label>
                                                        </div>
                                                    </td>
                                                    <td>
                                                        <div class="checkbox m-2">
                                                            <input type="checkbox" name="team_member_manage_all" id="team_member_manage_all" value="True">
                                                            <label for="team_member_manage_all"></label>
                                                        </div>
                                                    </td>
                
                                                </tr>
                                                
                                                </tbody>
                                            </table>
                                    </div>
            
                                </div>
                            </div>
                        </div>
                </div> <!-- card-body -->
            </div> <!-- card -->

        
        </div> <!-- End Rightsidebar -->
    </form>
    
    </div><!-- End row -->

    {% endblock %}