{% extends "base.html" %}
{% load static %}
{% block content %}




<div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Create New Company</h4>
            <ol class="breadcrumb pull-right">
                <!-- <li><a href="#">Moltran</a></li>
                <li><a href="#">Mail</a></li>
                <li class="active">Compose Mail</li> -->
            </ol>
        </div>
    </div>

    <div class="row">
        
        <!-- Left sidebar -->

        <!-- Right Sidebar -->
        <form name="comany_form" method="POST" action="company_add_action" enctype="multipart/form-data">
            {% csrf_token %}
        
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-right">
                        <div class="btn-toolbar" role="toolbar">
                            
                            <button type="submit" class="btn btn-purple waves-effect waves-light"> <span>Save</span> <i class="fa fa-send m-l-10"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card m-t-20">
                <div class="card-body p-t-30">
                        <div class="form-group">
                            
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;">Company Name</label>
                                    <input type="text" required autocomplete="off" name="companyname" id="company_name" list="company_data"  class="form-control" placeholder="Company Name">

                                    <datalist id="company_data">
                                        {% for c in company_data %}
                                            <option value="{{c.company_name}}"></option>
                                        {% endfor %}
                                    </datalist>
                                </div>
                              
                                <div class="col-md-6 ">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;">Logo</label>
                                  <input name="logo" required id="logo" type="file" class="form-control">
                                </div>
                                <div class="col-md-6 ">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;">Tax no</label>
                                  <input  name="tax_no" required id="tax_no" type="text" class="form-control">
                                </div>
                                <div class="col-md-6 ">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;">Mobile no</label>
                                  <input type="text" required name="mobile_no" id="mobile_no" class="form-control">
                                </div>
                                <div class="col-md-6 ">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;">Website</label>
                                  <input type="text" required class="form-control"  name="website" id="website">
                                </div>
                                <div class="col-md-6 ">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;">Phone</label>
                                  <input type="text" required class="form-control" name="phone" id="phone">
                                </div>
                                <div class="col-md-6 ">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;">Email</label>
                                  <input type="text"  required class="form-control" name="email" id="email">
                                </div>
                               
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" required name="address" id="address" class="form-control" placeholder="Address">
                        </div>
                        <!-- <div class="form-group">
                            <textarea class="wysihtml5 form-control" placeholder="Message body" style="height: 200px"></textarea>
                        </div> -->
                    
                </div> <!-- card-body -->
        </div> <!-- card -->


    </form>




        </div> <!-- End Rightsidebar -->
    
    </div><!-- End row -->



{% endblock %}