{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Create New Tags</h4>
            <ol class="breadcrumb pull-right">
               
            </ol>
        </div>
    </div>

    <form name="tags_form" method="POST" action="tags_add_action">
        {% csrf_token %}
    <div class="row">
       
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-right">
                        <div class="btn-toolbar" role="toolbar">
                            <button type="submit" class="btn btn-purple waves-effect waves-light"> <span>Save</span> <i class="fa fa-send m-l-10"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card m-t-20">
                <div class="card-body p-t-30">
                    
                    <form>
                        <div class="form-group">
                            
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;">Name</label>
                                    <input required type="text" name="tags_name"  class="form-control" placeholder="Tags Name">
                                </div>
                              <div class="col-md-8">
                                <div class="form-group my-4">
                                    <label class="form-label" for="tax_no">Select Color </label>
                                    <div class="input-group">
                                    <input type="radio" name="tags_color" class="m-2" value="red">
                                    <label style=" color: red;
                                    font-weight: bold;" class="mt-2"> Red</label>
                                   
                                <input required type="radio"  name="tags_color" value="#6bc950" class="m-2">
                                <label style="color: #6bc950;
                                font-weight: bold;" class="mt-2"> Green</label>
                                
                                <input required type="radio" name="tags_color" value="blue" class="m-2">
                                <label style="color: blue;
                                font-weight: bold;" class="mt-2"> Blue</label> 
                                    
                                <input required type="radio" name="tags_color" value="yellowgreen" class="m-2" > 
                                <label style="color: yellowgreen;
                                font-weight: bold;" class="mt-2"> yellowgreen</label>   
                            
                                <input required type="radio" name="tags_color" value="darkorange" class="m-2"> 
                                <label style="color: darkorange;
                                font-weight: bold;" class="mt-2"> Darkorange</label>   
                
                                    </div>
                                </div>
                              </div>
                                </div>
                            </div>
                        </div>
                      
                     
                    </form>
                </div> <!-- card-body -->
            </div> <!-- card -->

       
        </div> <!-- End Rightsidebar -->
    </form>
    </div><!-- End row -->


{% endblock %}