{% extends "base.html" %}
{% load static %}
{% block content %}



<div class="container-fluid">

    <!-- Page-Title -->
    <div class="row">
        <div class="col-sm-12">
            <h4 class="pull-left page-title">Create New Meeting</h4>
            <ol class="breadcrumb pull-right">
                <!-- <li><a href="#">Moltran</a></li>
                <li><a href="#">Mail</a></li>
                <li class="active">Compose Mail</li> -->
            </ol>
        </div>
    </div>

    <div class="row">
        
        <!-- Left sidebar -->
    

        
        <!-- Right Sidebar -->
        <div class="col-lg-9">
            <div class="row">
                <div class="col-lg-12">
                    <div class="float-right">
                        <div class="btn-toolbar" role="toolbar">
                            
                            <button type="button" class="btn btn-purple waves-effect waves-light"> <span>Save</span> <i class="fa fa-send m-l-10"></i> </button>
                        </div>
                    </div>
                </div>
            </div>
            
            <div class="card m-t-20">
                <div class="card-body p-t-30">
                    
                    <form>
                        <div class="form-group">
                            <input type="email"  class="form-control" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="date" class="form-control" placeholder="Date">
                                </div>
                                <div class="col-md-6">
                                    <input type="time" class="form-control" placeholder="Time">
                                </div>
                                <div class="col-md-6 mt-2">
                                    <label style="margin: 12px 2px;
                                    color: #0000008a;">Add required attendees</label>
                                   <select class="form-control" >
                                    <option>amarnath</option>
                                   </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Add channel">
                        </div>
                        <div class="form-group">
                            <textarea class="wysihtml5 form-control" placeholder="Message body" style="height: 200px"></textarea>
                        </div>
                    </form>
                </div> <!-- card-body -->
            </div> <!-- card -->
        </div> <!-- End Rightsidebar -->
    
    </div><!-- End row -->



</div> <!-- container-fluid -->



{% endblock %}