{% extends "base.html" %}
{% load static %}
{% load permissions %}
{% block content %}


<div class="content-right">
    <div class="margin-class-this">
        <div class="row">
            <div class="col-lg-12">
                <div class="card card-shadow">

                    <div class="card-body body-change card-border project-detailpage">

                        <div id="controls" class="">
                            
                            <button type="button" onclick="Export_to_pdf()"  class="btn btn-primary waves-effect waves-light">PDF</button>&nbsp;&nbsp;&nbsp;&nbsp;
                            <button type="button" onclick="Export_to_excel()" class="btn btn-primary waves-effect waves-light">XLSX</button>
                            
                        </div>
                        <div class="tree_class">

                            <div class="row" style="float: right;">
                                <ul>
                                    {% for i in space_task_status %}
                                    <li>
                                      
                                        <span style="    padding: 1px 10px;
                                        font-weight: bold;
                                        font-size: 14px;"><i class="fa fa-square" aria-hidden="true" style="color: {{i.status_color}};"></i> </span> <span style="font-weight: 700;
                                        font-size: 12px;">{{i.status_name}}</span></li>
                                    {% endfor %}
                                </ul>
                            </div>

                            <h4 style="padding: 12px 12px;
                            text-align: center;
                            align-items: center;
                            font-weight: bold;
                            font-size: 24px;color: {{sub_space_data.bucket_mapping_id.status_color}};">
                                Project Structure of&nbsp; {{sub_space_data.sub_space_name}}
                            </h4>
                           
                            <ul class="tree ">
                                {% for task in task_details %}
                                <li class="mt-2"><container><icon style="background: {{task.bucket_mapping_id.status_color}};
                                    color: white;
                                    padding: 4px 13px;
                                    font-size: 12px;"/>{{ task.task_name|title }}</container>
                            
                                    {% tree_structure task %}
                                </li>
                            
                                {% endfor %}
                                <br>
                            </ul>

                            <div class="row">
                                <br>
                                {% for i in space_task_status %}
                                <div class="col-xl-2 col-md-2">
                                    <!-- card -->
                                    <div class="card card-h-100" style="background: #2b314e99;
                                    color: white;
                                    border-radius: 12px;">
                                        <!-- card body -->
                                        <div class="card-body">
                                            <div class="d-flex align-items-center">
                                                <div class="flex-grow-1">
                                                    <h5 class="mb-2 lh-1 d-block text-truncate">Total
                                                        {{i.status_name}}</h5>
                                                    <h3 class="mb-2">
                                                        <span class="counter-value" data-target="10">10</span>
                                                    </h3>
                                                    <div class="text-nowrap txt">
                                                        <!-- <span class="badge bg-soft-info text-info">4 Projects</span>
                                                        <span class="ms-1 text-muted font-size-13">Since last week</span> -->
                                                    </div>
                                                </div>
                        
                                                <div class="flex-shrink-0 text-end dash-widget">
                                                    <div class="avatar-box thumb-xl align-self-center me-2">
                                                        <span class="avatar-title bg-prim rounded"><i
                                                                class="mdi mdi-briefcase"></i></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div><!-- end card body -->
                                    </div><!-- end card -->
                                </div><!-- end col -->

                                {% endfor %}
                        
                            </div>


                            




                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<style>


    /**
     * Framework starts from here ...
     * ------------------------------
     */
    
    .tree,
    .tree ul {
      margin:0 0 0 1em; /* indentation */
      padding:0;
      list-style:none;
      color:#369;
      position:relative;
    }
    
    .tree ul {margin-left:.5em} /* (indentation/2) */
    
    .tree:before,
    .tree ul:before {
      content:"";
      display:block;
      width:0;
      position:absolute;
      top:0;
      bottom:0;
      left:4px;
      border-left:1px dashed;
    }
    
    ul.tree:before {
      border-left:none
    }
    
    .tree li {
      margin:0;
      padding:0 1.5em; /* indentation + .5em */
      line-height:2em; /* default list item's `line-height` */
      font-weight:bold;
      position:relative;
    }
    
    .tree container, .tree folder {
      display: block;
    }
    
    .tree container icon, .tree folder icon {
      background-repeat: no-repeat;
      background-position: 4px center;
      padding-left: 24px;
    }
    
    .tree container icon {
      
    }
    
    .tree folder icon {
     
    }
    
    .tree folder.selected {
      background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
      border-radius: 5px;
    }
    
    .tree folder:hover {
        background-image: linear-gradient(to bottom, #f5f5f5, #f1f1f1);
      border-radius: 5px;
    }
    
    .tree li:before {
      content:"";
      display:block;
      width:10px; /* same with indentation */
      height:0;
      border-top:1px dashed;
      margin-top:-1px; /* border top width */
      position:absolute;
      top:1em; /* (line-height/2) */
      left:4px;
    }
    
    ul.tree>li:before {
      border-top:none;
    }
    
    .tree li:last-child:before {
      background:white; /* same with body background */
      height:auto;
      top:1em; /* (line-height/2) */
      bottom:0;
    }
</style>



<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.22/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html2canvas/0.4.1/html2canvas.min.js"></script>
    <script type="text/javascript">
        function Export_to_pdf() {

        sub_space_id = `{{sub_space_id}}`
    
        var url = 'export_pdf'
        $.ajax({
            url: url,
            data:{
                'sub_space_id':sub_space_id
            },
        success: function (data) {  
           
            $(".tree_class").empty().append(data);
                 if(data){
                    html2canvas( $('.tree_class'), {
                    onrendered: function (canvas) {
                    var data = canvas.toDataURL();
                    var docDefinition = {
                        content: [{
                            image: data,
                            width: 500
                        }]
                    };
                    pdfMake.createPdf(docDefinition).download("project_structure.pdf");
                }
            });
            }
        }
            });
        }

        function Export_to_excel() {
            url = `{{sub_space_id}}`
            window.location.href = "/export_excel/?sub_space_id="+url 
        }
    </script>


{% endblock %}