{% extends "base.html" %}
{% load static %}
{% load permissions %}
{% block content %}

<div class="content-right">
                     
    <div class="margin-class-this chat-section">

        <div class="row">
          <div class="col-md-12">
            <div class="card card-shadow">

                <div class="card-body body-change card-border">
                    <div class="d-flex align-items-center justify-content-between">
                        <h2 class="main-heading-txt">Role Management</h2>
                        <button type="button" class="btn btn-pink waves-effect waves-light w-md m-b-5" data-toggle="modal" data-target="#role-modal"><i class="fa fa-plus"></i> New</button>
                       
                    </div>

                    <div class="row mt-4">

                        <div class="col-md-12 col-sm-12 col-12">
                            <table id="datatable" class="table table-striped dt-responsive table-bordered nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                <thead class="border-class">

                                    <tr class="heading-text">                                                        
                                        <th>Role Name</th>
                                        <th>Description</th>
                                        <th></th>
                                       
                                    </tr>
                                </thead>


                                <tbody class="body-textcls vertcle-center">
                                    {% for i in role_data %}
                                    <tr>
                                         
                                <td>{{i.role_name}}</td>
                                <td>
                                    {{i.description}}
                                </td>
                                        <td>
                                            <div class="action-tbl d-flex justify-content-end">
                                                <a href="#" class="edit_role" data-id="{{i.id}}"><i class="fa fa-pencil mx-1 pencil-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Edit"></i></a>
                                                <a href="#" class="delete_role" data-id="{{i.id}}"><i class="fa fa-trash-o mx-1 trash-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Delete"></i></a>
                                                <!-- <i class="fa fa-save mx-1 sv-btn" data-toggle="tooltip" data-placement="top" title="" data-original-title="Save"></i>
                                                <i class="ion-close mx-1" data-toggle="tooltip" data-placement="top" title="" data-original-title="Cancel"></i>  -->
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>

                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div id="edit_role_div"></div>
<div id="delete_role_div"></div>


<form name="role_form" method="POST" action="role_management_action">
    {% csrf_token %}

<div id="role-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
aria-hidden="true" style="display: none">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title mt-0">Create New Role</h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Role Name</label>
                        <input type="text" name="name" class="form-control" id="field-1" placeholder="Role Name">
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label for="field-1" class="control-label">Description</label>
                        <textarea name="description" class="form-control" rows="2" id="example-textarea-input" placeholder="Description"></textarea>
       
                    </div>
                </div>
                <div class="col-md-12">
                    <table id="datatable" class="table table-striped dt-responsive table-bordered nowrap table-role" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                        <thead class="border-class">

                            <tr class="heading-text">                                                        
                                <th>Nav Name</th>
                                <th class="text-center">Read</th>
                                <th class="text-center">Write</th>
                                <th class="text-center">Edit</th>
                                <th class="text-center">Delete</th>
                                <th class="text-center">View All</th>
                                <th class="text-center">Manage All</th>
                            </tr>
                        </thead>


                        <tbody class="body-textcls vertcle-center">
                            <tr>
                                <td>Role</td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox1" name="role_read" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox2" name="role_write" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox3"  name="role_edit" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox4" name="role_delete" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox5"  name="role_view_all" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox6" name="role_manage_all" value="True"></td>
                            </tr>
                            <tr>
                                <td>Team member</td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox1" name="team_member_read" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox2" name="team_member_write"  value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox3" name="team_member_edit" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox4" name="team_member_delete" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox5" name="team_member_view_all" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox6"  name="team_member_manage_all" value="True"></td>
                            </tr>
                            <tr>
                                <td>Tags</td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox1" name="tag_read" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox2" name="tag_write" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox3"  name="tag_edit" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox4" name="tag_delete" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox5"  name="tag_view_all" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox6" name="tag_manage_all" value="True"></td>
                            </tr>
                            <tr>
                                <td>Status</td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox1" name="status_read" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox2" name="status_write" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox3"  name="status_edit" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox4" name="status_delete" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox5"  name="status_view_all" value="True"></td>
                                <td class="text-center"><input type="checkbox" id="inlineCheckbox6" name="status_manage_all" value="True"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
               
            </div>



        </div>
        <div class="modal-footer">

            <button type="submit"style="background-color:#f9365f!important;border: none!important;"
                class="btn btn-info waves-effect waves-light">Save </button>
        </div>
    </div>
</div>
</div>
</form>


<script>
    $(".edit_role").click(function(){
        var id = $(this).attr("data-id")
        var url ="edit_role_management";
        $.ajax({
        url: url,
        data: {
          'id': id
        },
        success: function (data) {
            $("#edit_role_div").html(data);
            $('#edit_role_modal').modal('show');
        }
      });messageCheckbox
    })
</script>

<script>
    $(".delete_role").click(function(){
        var id = $(this).attr("data-id")
        var url ="delete_role_management";
        $.ajax({
        url: url,
        data: {
          'id': id
        },
        success: function (data) {
            $("#delete_role_div").html(data);
            $('#delete_role_modal').modal('show');
        }
      });messageCheckbox
    })
</script>


{% endblock %}