{% extends "base.html" %}
{% load static %}
{% load permissions %}
{% block content %}
<style>
    .select2-selection__choice
    { 
        color: black!important;
     
    }
    .grn {
    background: #ec407a !important;
}

.grn::after {
    border-left: 14px solid #ec407a !important;
}

.capital 
{
    text-transform:capitalize;
}
    </style>


<div class="content-right">
                     
    <div class="margin-class-this">

        <div class="row">
            <div class="col-lg-12">
                <div class="card card-shadow">

                    <div class="card-body body-change card-border project-detailpage">
                        <div class="d-flex align-items-center justify-content-between">
                            <div class="project-name">
                                <h6>{{sub_space_data.sub_space_name}}</h6>
                                <div class="checkbox checkbox-circle">
                                    <input id="checkbox7" type="checkbox">
                                    <label for="checkbox7">
                                        {{task_data.task_name}}
                                    </label>
                                </div>
                                <p>Last changed {{task_data.created_dt|safe}} by you</p>
                            </div>
                            <div class="d-flex">
                                <div class="stage1">
                                    <ul class="demo-tags">
                                        {% for i in bucket_data %}

                                        {% if i.status_name == task_data.bucket_mapping_id.status_name %}
                                        
                                            <li><a href="#"  class="grn" >{{i.status_name}}</a></li>
                                            {% else %}

                                            <li><a href="update_task_status?task_id={{task_data.id}}&status_id={{i.id}}"class="" >{{i.status_name}}</a></li>
                                            {% endif %}

                                        {% endfor %}
                                        
                                    </ul>
                                </div>
                                <div class="d-flex">
                                    <p id="output" class="text-center"></p>
                                    <div id="controls" class="text-center">
                                        
                                        {% if current_status == "False" or current_status == "" %}
                                        <button id ="new_start" class="btn btn-pink waves-effect waves-light w-md m-b-5 start_click" type="button"><i class="ion-android-clock mr-1"></i>Start</button>

                                        {% elif current_status == "True" and button_status == "Start" %}

                                        <button id="new_stop"  class="btn btn-pink waves-effect waves-light w-md m-b-5 stop_click" type="button">Stop</button>
                                        <button  class="btn btn-secondary pause_click" type="button">Pause</button>

                                        {% elif current_status == "True" and button_status == "Pause" %}
                                        <button  class="btn btn-pink waves-effect waves-light w-md m-b-5 stop_click" type="button">Stop</button>
                                        <button  class="btn btn-pink waves-effect waves-light w-md m-b-5 resume_click" type="button">Resume</button>

                                        {% elif current_status == "True" and button_status == "Resume" %}
                                        <button  class="btn btn-pink waves-effect waves-light w-md m-b-5 stop_click" type="button">Stop</button>
                                        <button  class="btn btn-pink waves-effect waves-light w-md m-b-5 pause_click" type="button">Pause</button>

                                        {% endif %}



                                        <!-- -----------------------------Javascript buttons----------------------------------------- -->

                                        <button style="display:none;" class="btn btn-pink waves-effect waves-light w-md m-b-5 start_click" type="button"><i class="ion-android-clock mr-1"></i>Start</button>

                                        {% if current_status == "True" and button_status == "Pause" %}
                                        {% elif current_status == "True" and button_status == "Start" %}
                                        {% elif current_status == "True" and button_status == "Resume" %}

                                        {% else %}
                                        <button style="display:none;" class="btn btn-pink waves-effect waves-light w-md m-b-5 stop_click" type="button">Stop</button>
                                        {% endif %}


                                        {% if current_status == "True" and button_status == "Start" %}
                                        {% elif current_status == "True" and button_status == "Resume" %}
                                        {% else %}
                                        <button style="display:none;" class="btn btn-pink waves-effect waves-light w-md m-b-5 pause_click" type="button">Pause</button>
                                        {% endif %}


                                        {% if current_status == "True" and button_status == "Pause" %}
                                        {% else %}
                                        <button style="display:none;" class="btn btn-pink waves-effect waves-light w-md m-b-5 resume_click" type="button">Resume</button>
                                        {% endif %}

                                        <button type="button" class="btn btn-pink waves-effect waves-light m-b-5 save-btn">SAVE</button>
                                        
                                    </div>
                                    
                                </div>
                               
                            </div>
                            
                        </div>

                        <!-- stopwatch counter -->
    
                        <div class="stopwatch" style="float:right; margin-top: -100px;">
                            <div class="stopwatch__container">
                                <div class="stopwatch__content">
                                    <div class="stopwatch__time">
                                        <span style="font-size: 20px; font-weight: 300px;" id="hour">00</span>:
                                        <span style="font-size: 20px; font-weight: 300px;" id="minute">00</span>:
                                        <span style="font-size: 20px; font-weight: 300px;" id="seconde">00</span>
                                    </div>
                                </div>
                                <div class="stopwatch__history"></div>
                            </div>
                        </div>
                        

                        <div class="row">
                            <div class="col-md-6 mt-3">
                                <div class="d-flex align-items-center assign-prjct">
                                    <img src="../static/assets/images/user-avatar.png" alt="" class="add-icn">

                                    {% for m in task_data.add_task_space.all %}

                                    <div class="profile-image d-flex align-items-center m-2">
                                        <img src="./media/{{m.invite_user_details_id.photo}}">                                                      
                                    </div>
                                    <span>{{m.invite_user_details_id.name}}</span>

                                    {% endfor %}
                                </div>

                                <div class="labeltag d-flex align-items-center mt-4">
                                    <img src="../static/assets/images/price-tag.png" alt="" class="label-tag">
                                    <select class="select2-selection__choice" multiple="multiple"  id="myList">
                                        <option value="1">Add label</option>
                                        {% for t in tags_name %}

                                        <option value="">{{t.tags_name}}</option>
                                        {% endfor %}
                                      </select>
                                </div>

                                <div class="row mt-4 prjct-form">
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="field-2" class="control-label">Bucket</label>
                                            <select class="ddl-select" id="list" name="list">
                                                <option selected value="{{task_data.bucket_mapping_id.id}}">{{task_data.bucket_mapping_id}}</option>
                                                {% for b in bucket_data %}
                                                    {% if task_data.bucket_mapping_id.status_name == b.status_name %}

                                                        {% else %}
                                                        <option  value="{{b.id}}">{{b.status_name}}</option>
                                                    {% endif %}
                                                {% endfor %}
                                              </select>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="field-2" class="control-label">Progress</label>
                                            <select class="ddl-select-1" id="list1" name="list1">
                                                <option selected value="{{task_data.progress}}">{{task_data.progress}}</option>
    
                                                {% for p in progress %}
                                                
                                                {% if task_data.progress == p.0 %}
                                                {% else %}
                                                    <option>{{p.0}}</option>
                                                {% endif %}
                                                {% endfor %}                                                               
                                            </select>                                                             
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="field-2" class="control-label">Priority</label>
                                            <select class="ddl-select-2" id="list2" name="list2">
                                                <option selected value="{{task_data.priority}}">{{task_data.priority}}</option>
                                                {% for p in priority %}
                                            
                                                {% if task_data.priority == p.0 %}
                                                {% else %}
                                                    <option>{{p.0}}</option>
                                                {% endif %}
                                                {% endfor %}                                                               
                                            </select>                                                             
                                        </div>
                                          
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="field-2"
                                                class="control-label">Start Date</label>
                                                <div class="input-group">
                                                    <input type="date" min="{{today_date}}" value="{{task_data.start_date|safe}}" class="form-control"
                                                        placeholder="" >
                                                    
                                                </div>
                                            
                                        </div>
                                    </div>

                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="field-2"
                                                class="control-label">Due Date</label>
                                                <div class="input-group">
                                                    <input type="date" min="{{today_date}}" value="{{task_data.end_date|safe}}" class="form-control"
                                                        placeholder="" >
                                                    
                                                </div>
                                        </div>
                                    </div>

                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-2" class="control-label">Notes</label>
                                            <textarea class="form-control" rows="3" id="example-textarea-input" placeholder="Type a description or add notes here">{{task_data.notes}}</textarea>                              
                                        </div>
                                          
                                    </div>

                                   
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-2" class="control-label mb-2">Checklist</label>
                                            {% for ch in task_data.add_task_checklist.all %}
                                            <div class="checkbox checkbox-circle ">
                                                <input  id="checkbox7" type="checkbox">
                                                <label for="checkbox7" >
                                                    <input disabled  type="text" value="{{ch.item_name}}" placeholder="Add an item" class="form-control checkitem">
                                                </label>
                                                <a class="checklist_more" style="float: right;
                                                font-size: 20px; cursor: pointer;
                                                font-weight: bold;">+</a>
                                                
                                            </div>        
                                            {% endfor %}   
                                            
                                                <div class="append_add">
                                                    
                                                </div>
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-12">
                                        <div class="form-group">
                                            <label for="field-2" class="control-label mb-2">Attachments</label>

                                            {% for a in task_data.add_attachment.all %}
                                                {% if a.attached_file  %}
                                                    <a target="_blank" href="/media/{{a.attached_file}}" >
                                                    <div class="add-attach mt-2">
                                                        <p class="fa fa-eye">&ensp;{{a.file_name}}</p>
                                                    </div> 
                                                    </a>
                                                {% endif %}
                                                {% endfor %}


                                            <div class="add-attach mt-4" data-toggle="dropdown" aria-expanded="false">
                                                    Add attachment
                                            </div> 
                                            <ul class="dropdown-menu">
                                                <li><a href="#" class="dropdown-item">From Computer</a></li>
                                                <li><a href="#" class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#url-modal">A link to a URL</a></li>
        
                                            </ul>                            
                                        </div>
                                          
                                    </div>
                           
                                </div>
                                
                            </div>

                            <div class="col-md-6 timesheet-tab mt-3">

                             
                                    <ul class="nav nav-tabs tabs" role="tablist" style="width: 100%;">
                                        <li class="nav-item tab">
                                            <a class="nav-link active" id="home-tab-2" data-toggle="tab" href="#home-2" role="tab" aria-controls="home-2" aria-selected="false">
                                                <span class="d-block d-sm-none"><i class="fa fa-home"></i></span>
                                                <span class="d-none d-sm-block">Sub Task</span>
                                            </a>
                                        </li>
                                        <li class="nav-item tab">
                                            <a class="nav-link" id="profile-tab-2" data-toggle="tab" href="#profile-2" role="tab" aria-controls="profile-2" aria-selected="true">
                                                <span class="d-block d-sm-none"><i class="fa fa-user"></i></span>
                                                <span class="d-none d-sm-block">Comments</span>
                                            </a>
                                        </li>
                                        <li class="nav-item tab">
                                            <a class="nav-link" id="message-tab-2" data-toggle="tab" href="#message-2" role="tab" aria-controls="message-2" aria-selected="false">
                                                <span class="d-block d-sm-none"><i class="fa fa-envelope-o"></i></span>
                                                <span class="d-none d-sm-block">Time Sheet</span>
                                            </a>
                                        </li>
                                        
                                    </ul>
                                    <div class="tab-content">
                                        <div class="tab-pane show active" id="home-2" role="tabpanel" aria-labelledby="home-tab-2">
                                            <table id="datatable" class="table table-striped dt-responsive table-bordered nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 107%;">

                                                <thead class="border-class">

                                                    <tr class="heading-text">
                                                        <th>Title</th>
                                                        <th>Assigned to</th>                                                                         
                                                        <th>Due</th>
                                                        <th>Bucket</th>
                                                        <th></th>
                                                    </tr>
                                                </thead>


                                                <tbody class="body-textcls vertcle-center">
                                                    <tr>
                                                        <td colspan="5" class="addlinetd">
                                                            <a style="cursor: pointer;"  class="create_subtask" class="addline"><i class="md md-add-circle"></i> Add Sub Task</a>
                                                        </td>
                                                    </tr>
                                                    {% for i in sub_task_data %}
                                                    <tr>
                                                        <td>
                                                            <div class="checkbox margin-check checkbox-primary checkbox-circle">
                                                                <input id="checkbox-9" type="checkbox" class="padd-radio">
                                                                <label for="checkbox-9">
                                                  
                                                                </label>
                                                                <p class="main-head">{{i.task_name}}</p>
                                                            </div>

                                                        </td>
                                                        <td>
                                                            <div class="profile-image d-flex align-items-center">
                                                                {% for j in i.add_task_space.all %}
                                                                <img src="./media/{{j.invite_user_details_id.photo}}">
                                                                {% endfor %}
                                                                <!-- <div class="circle-user">
                                                                    <i class="ion-plus"></i>5
                                                                </div>
                                                               -->
                                                            </div>
                                                        </td>
                                                       
                                                        <td> 
                                                            {% if request.user.id|due_date_check_task:i.id == True %}
                                                            <span  class="badge badge-size badge-pill badge-danger"><i class="ion-calendar"></i>&ensp;{{i.end_date|safe}}</span>

                                                            {% else %}
                                                            <i class="ion-calendar"></i>&ensp;{{i.end_date|safe}}

                                                            {% endif %}
                                                        </td>
                                                        <td>
                                                            {% if i.bucket_mapping_id.status_color == "red" %}
                                    
                                                            <span class="badge badge-size badge-pill badge-red">{{i.bucket_mapping_id}}</span>
            
                                                            {% elif i.bucket_mapping_id.status_color == "yellowgreen" %}
                                                            
                                                            <span class="badge badge-size badge-pill badge-yellow">{{i.bucket_mapping_id}}</span>
            
                                                            {% elif i.bucket_mapping_id.status_color == "green" %}
                                                            
                                                            <span class="badge badge-size badge-pill badge-green">{{i.bucket_mapping_id}}</span>
            
                                                            {% elif i.bucket_mapping_id.status_color == "blue" %}
                                                            
                                                            <span class="badge badge-size badge-pill badge-primary">{{i.bucket_mapping_id}}</span>
            
                                                            {% elif i.bucket_mapping_id.status_color == "darkorange" %}
                                                            
                                                            <span class="badge badge-size badge-pill badge-info">{{i.bucket_mapping_id}}</span>
            
                                                            {% else %}
                                                                 <span class="badge badge-size badge-pill badge-secondary">{{i.bucket_mapping_id}}</span>
                                                            {% endif %}
                                                        </td>
                                             
                                                        <td class="d-flex justify-content-end align-items-center text-right">

                                                            <a href="view_task_page?task_id={{i.id}}" class="viewtasklink"><i class="fa fa-eye"></i> View Task</a>

                                                            <button type="button" class="btn btn-more-data waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
                                                <i class="md-more-vert"></i>
                                        </button>
                                                            <ul class="dropdown-menu">
                                                                <li><a href="#" class="dropdown-item">Edit</a></li>
                                                                <li><a href="#" class="dropdown-item">Delete</a></li>
                                                            </ul>

                                                        </td>
                                                    </tr>
                                                    {% endfor %}
                                                    
                                                    
                                        </tbody>
                                        </table>
                                        </div>
                                        <div class="tab-pane" id="profile-2" role="tabpanel" aria-labelledby="profile-tab-2" style="display: none;">
                                            <div class="row prjct-form">
                                                <div class="col-md-12">
                                                    <div class="form-group mt-2">
                                                        <!-- <label for="field-2" class="control-label">Comments</label> -->
                                                        <textarea class="form-control" rows="3" id="example-textarea-input" placeholder="Type your message here"></textarea>                              
                                                    </div>
                                                    <button type="button" class="btn btn-pink waves-effect waves-light w-sm m-b-5 float-right">Send</button>
                                                </div>

                                                        {% for c in task_data.task_comments.all %}
                                                            <div class="col-md-12 comment-sec">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="col px-0 pro-detail">
                                                                        <img src="./media/{{c.added_by.photo}}" alt=""style="border-radius: 5%;
                                                                        width: 8%;" class="avatar lg rounded-circle">&ensp;
                                                                      
                                                                      {{c.added_by.name}}
                                                                    </div>
                                                                    <div class="col px-0">
                                                                        <span>{{c.created_dt}} {{c.created_tm}}</span>
                                                                    </div>
                                                                </div>
                                                                {% if c.comments == "False" %}
                                                                {% else %}
                                                                <p>{{c.comments}}</p>
                                                                {% endif %}
                                                            </div>
                                                    {% endfor %}
                                              
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="message-2" role="tabpanel" aria-labelledby="message-tab-2" style="display: none;">
                                            <table id="datatable" class="table dt-responsive table-bordered nowrap table-padd time-sheet" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                                <thead class="border-class">

                                                    <tr class="heading-text">
                                                        <th>Date</th>
                                                        <th>Employee</th>
                                                        <!-- <th>Description</th> -->
                                                        <th>Hour Spent</th>                                                           
                                                        <th></th>
                                                    </tr>
                                                </thead>


                                                <tbody class="body-textcls vertcle-center">
                                                    {% for h in time_details %}
                                                    {% if h.counter == None %}
                                                        {% else %}
                                                    <tr>
                                                        <td>{{h.current_date|safe}}</td>
                                                        <td>
                                                            <div class="profile-image d-flex align-items-center">
                                                               
                                                                <img src="../static/assets/images/users/avatar-4.jpg">
                                                                   <span>{{h.user_details_id.name}}</span> 
                                                            </div>
                                                        </td>
                                                        <!-- <td></td> -->
                                                        <td>{{h.counter|safe}}</td>                                                               
                                                        <td><i class="fa-regular fa-trash-can"></i></td>
                                                    </tr>
                                                  
                                                    {% endif %}
                                                    {% endfor %}
                                                </tbody>
                                            </table>

                                            <div class="d-flex hours-spent">
                                                <div class="col-md-6 t-hr">
                                                    <!-- <h5>Total hours spent : <span>{{total_hr}}</span></h5> -->
                                                </div>

                                                <div class="col-md-6 r-hr text-right">
                                                    <h5>Total hours spent :  <span>{{total_hr}}</span></h5>
                                                </div>
                                                <!-- <div class="col-md-6 r-hr text-right">
                                                    <h5>Remaining hours : <span>00:00</span></h5>
                                                </div> -->
                                            </div>
                                        </div>
                                       
                                    </div>
                              
                          

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>



<form name="sub_task_form" class="sub_task_class" method="POST" action="sub_task_action">
    {% csrf_token %} 

<div id="new_sub_task_create" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog  modal-lg">
        <div class="modal-content"> 
            <div class="modal-header">
                <h4 class="modal-title mt-0" style="color: #f9365f;
                font-weight: bold;">Create New Sub Task</h4> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body"> 
                <input type="hidden" name="space_id" value="{{space_data.id}}">
                <input type="hidden" name="sub_space_id" value="{{sub_space_data.id}}">
                <input type="hidden" id="task_id" name="task_id" value="{{task_data.id}}">
                
                <div class="row"> 
                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="field-1" class="control-label">SubTask Name</label> 
                            <input type="text" required name="sub_task_name" class="form-control capital" id="field-1" placeholder="SubTask Name"> 
                        </div> 
                    </div> 
                  
                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="field-2" class="control-label">Bucket</label> 
                            <div id="bucket_append">
                                <select class="form-control" name="bucket">
                                    {% for b in bucket_data %}
                                    <option  value="{{b.id}}">{{b.status_name}}</option>
                                    {% endfor %}
                                 </select>
                            </div>
                        </div> 
                    </div> 
                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="field-2" class="control-label">Progress</label> 
                            <select class="form-control" name="progress">
                                <option value="Not Started" selected="">Not Started</option>
                                <option value="In progress">In progress</option>
                                <option value="Completed">Completed</option>
                            </select>
                        </div> 
                    </div> 

                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="field-2" class="control-label">Priority</label> 
                         <select class="form-control"  name="priority">
                            <option value="Urgent" selected="">Urgent</option>
                            <option value="Important">Important</option>
                            <option value="Medium">Medium</option>
                            <option value="Low">Low</option>
                         </select>
                        </div> 
                    </div> 

                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="field-2" class="control-label">Start date</label> 
                            <input type="date" name="start_date" value="{{today_date|safe}}" min="{{today_date}}" class="form-control">
                        </div> 
                    </div> 
                    <div class="col-md-6"> 
                        <div class="form-group"> 
                            <label for="field-2" class="control-label">End date</label> 
                         <input type="date" required  min="{{today_date}}" name="end_date" class="form-control">
                        </div> 
                    </div> 
                   
                 
                    <div class="col-md-12"> 
                        <div class="form-group"> 
                            <label for="field-2" class="control-label">Note</label> 
                         <input type="text" name="notes" class="form-control">
                        </div> 
                    </div> 
                   
                    <div class="col-md-12"> 
                        <div class="form-group"> 
                            <label for="field-2" class="control-label">Assignees</label> 
                            <select required multiple class="form-control jsSelect1" name="member_checkbox">
                                <option value="1">select</option>
                                {% for i in task_member_data %}
                                <option value="{{i.invite_user_details_id.id}}"> {{i.invite_user_details_id.name}}</option>
                                {% endfor %}
                             </select>                        
                        </div> 
                    </div> 
                    
                </div> 
            </div> 
            <div class="modal-footer"> 
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button> 
                <button type="submit" style="background-color:#f9365f!important;border: none!important;" class="btn btn-info waves-effect waves-light">Save</button> 
            </div> 
        </div> 
    </div>
</div><!-- /.modal -->

<div id="sub_task_employee" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none">
    <div class="modal-dialog"> 
        <div class="modal-content"> 
            <div class="modal-header">
                <h4 class="modal-title mt-0" style="color: #f9365f;
                font-weight: bold;">Employee Invitation</h4> 
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div> 
            <div class="modal-body"> 
                <div class="row"> 
                    <div class="col-md-12"> 
                        <div class="form-group"> 
                           <div class="row">

                            {% for i in task_member_data %}
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img style="border-radius: 50%;
                                        width: 45%;" class="avatar lg rounded-circle" src="./media/{{i.invite_user_details_id.photo}}">  
                                    </div>
                                   <div class="col-md-4" style="margin: 22px -52px;
                                   font-size: 12px;">
                                    <input  name="member_checkbox" class="member_data" value="{{i.invite_user_details_id.id}}" type="checkbox">&nbsp;&nbsp;
                                        {{i.invite_user_details_id.name}}
                                   </div>
                                </div>
                              
                            </div>
                            {% endfor %}

                           </div>
                        </div> 
                    </div> 
                   
                    </div> 
                </div> 
            </div> 
            <!-- <div class="modal-footer"> 
                <button type="button" class="btn btn-secondary waves-effect" data-dismiss="modal">Close</button> 
                <button type="button" style="background-color:#f9365f!important;border: none!important;" class="btn btn-info waves-effect waves-light">Save </button> 
            </div>  -->
        </div> 
</div>

</form>





{% block scripts %}

<script>
    var colors = ["red", "blue", "green", "orange", "yellow"];

    $(document).ready(function () {
        var checkList = [1];
        $("#myList").select2({
            width: "100%",
            templateSelection: function (data, container) {
                var selection = $('#myList').select2('data');
                var idx = selection.indexOf(data);
                console.log(">>Selection", data.text, data.idx, idx);
                data.idx = idx;

                // $(container).css("background-color", colors[data.idx]);
                return data.text;
            },
        }).val(checkList).trigger("change");

    })
</script>

<script>
    $(function () {
        $(".ddl-select, .ddl-select-1, .ddl-select-2, .ddl-select-3").each(function () {
            $(this).hide();
            var $select = $(this);
            var _id = $(this).attr("id");
            var wrapper = document.createElement("div");
            wrapper.setAttribute("class", "ddl ddl_" + _id);

            var input = document.createElement("input");
            input.setAttribute("type", "text");
            input.setAttribute("class", "ddl-input");
            input.setAttribute("id", "ddl_" + _id);
            input.setAttribute("readonly", "readonly");
            input.setAttribute(
                "placeholder",
                $(this)[0].options[$(this)[0].selectedIndex].innerText
            );

            $(this).before(wrapper);
            var $ddl = $(".ddl_" + _id);
            $ddl.append(input);
            $ddl.append("<div class='ddl-options ddl-options-" + _id + "'></div>");
            var $ddl_input = $("#ddl_" + _id);
            var $ops_list = $(".ddl-options-" + _id);
            var $ops = $(this)[0].options;
            for (var i = 0; i < $ops.length; i++) {
                $ops_list.append(
                    "<div data-value='" +
                    $ops[i].value +
                    "'>" +
                    $ops[i].innerText +
                    "</div>"
                );
            }

            $ddl_input.click(function () {
                $ddl.toggleClass("active");
            });
            $ddl_input.blur(function () {
                $ddl.removeClass("active");
            });
            $ops_list.find("div").click(function () {
                $select.val($(this).data("value")).trigger("change");
                $ddl_input.val($(this).text());
                $ddl.removeClass("active");
            });
        });
    });
</script>

<script>
jQuery(document).ready(function() {

    // Tags Input
    jQuery('#tags').tagsInput({
        width: 'auto'
    });

    // Time Picker
    jQuery('#timepicker').timepicker({
        defaultTIme: false
    });
    jQuery('#timepicker2').timepicker({
        showMeridian: false
    });
    jQuery('#timepicker3').timepicker({
        minuteStep: 15
    });

    // Date Picker
    jQuery('.datepicker').datepicker();
    jQuery('#datepicker-inline').datepicker();
    jQuery('#datepicker-multiple').datepicker({
        numberOfMonths: 3,
        showButtonPanel: true
    });
   
});
</script>
<script>
var time = 0;
var running = 0;

function startPause() {
if (running == 0) {
    running = 1;
    increment();
    document.getElementById("startPause").innerHTML = "STOP";
} else {
    running = 0;
    document.getElementById("startPause").innerHTML = "START";
}
}

function reset(){
running = 0;
time = 0;
document.getElementById("startPause").innerHTML = "START";
document.getElementById("output").innerHTML = "00:00:00";
}

function increment() {
if (running == 1) {
    setTimeout(function() {
        time++;
        var mins = Math.floor(time/10/60);
        var secs = Math.floor(time/10 % 60);
        var tenths = time % 10;
        if (mins < 10) {
          mins = "0" + mins;
        } 
        if (secs < 10) {
          secs = "0" + secs;
        }
        document.getElementById("output").innerHTML = mins + ":" + secs + ":" + "0" + tenths;
        increment();
    },100);
}
}
</script>

<script>
    $(".checklist_more").click(function(){
    $('.append_add').append(` <div class="checkbox checkbox-circle mt-2" ><input  id="checkbox73" type="checkbox"><label for="checkbox73"><input  type="text" placeholder="Add an item" class="form-control checkitem"></label></div>`);
    
})
</script>

<script>


$(document).ready(function() {
            $('.jsSelect1').select2({
            placeholder: 'Select an option'
        });
           
    }); 
    $(".create_subtask").click(function(){
    
    $("#new_sub_task_create").modal("show")
    $.ajax(
    {
        type:"GET",
        url: "get_bucket_details",
        data:{
            space_id: space_id
        },
        success: function( data ) 
        {
            $("#bucket_append").empty().append(data)
        }
     });
    })
</script>




<script>
    $(".start_click").click(function(){

        $(".stop_click").show()
        $(".start_click").hide()
        $(".pause_click").show()
        // $("#new_stop").hide()
        task_id = document.getElementById("task_id").value;
        
        $.ajax(
        {
        type:"GET",
        url: "start_timer_action",
        data:{
            status: "start",
            task_id: task_id,
        },
        success: function(data) 
        {
            console.log("successs")
        }
        })
    })



    $(".pause_click").click(function(){

        $(".resume_click").show()
        $(".pause_click").hide()
        task_id = document.getElementById("task_id").value;

        $.ajax(
        {
        type:"GET",
        url: "start_timer_action",
        data:{
            status: "pause",
            task_id: task_id,
        },
        success: function(data) 
        {
            console.log("successs")
        }
    })
    })



    $(".resume_click").click(function(){

        $(".resume_click").hide()
        $(".pause_click").show()
        task_id = document.getElementById("task_id").value;

        $.ajax(
        {
        type:"GET",
        url: "start_timer_action",
        data:{
            status: "resume",
            task_id: task_id,
        },
        success: function(data) 
        {
            console.log("successs")
        }
    })
    })



    $(".stop_click").click(function(){

        $(".resume_click").hide()
        $(".pause_click").hide()
        $(".stop_click").hide()
        $(".start_click").show()
        $("#new_start").hide()

        task_id = document.getElementById("task_id").value;

        $.ajax(
        {
        type:"GET",
        url: "start_timer_action",
        data:{
            status: "stop",
            task_id: task_id,
        },
        success: function(data) 
        {
            window.location.reload();
        }
    })
    })

</script>

<!-- stopwatch design -->
<script>
    //Variables
const startBtn = document.querySelector('.start_click');
const stopBtn = document.querySelector('.pause_click');
const resetBtn = document.querySelector('.stop_click');
const resumeBtn = document.querySelector('.resume_click');
const hourContent = document.getElementById("hour");
const minuteContent = document.getElementById("minute");
const secondeContent = document.getElementById("seconde");
let watchInterval;

//Events
eventListners();
function eventListners() {
    if (resetBtn) {
        resetBtn.addEventListener('click', resetWatch);
    }
    if (startBtn) {
        startBtn.addEventListener('click', startWatch);
    }

    if (stopBtn) {
        stopBtn.addEventListener('click', stopWatch);
    }
    if (resumeBtn) {
        resumeBtn.addEventListener('click', resumeWatch);
    }
}


 button_status = '{{button_status|escapejs}}'
 time_diff = '{{refresh_time_diff|escapejs}}'
 if(time_diff != ""){
    x = time_diff.split(':')
    r_hour = x[0];
    r_minute = x[1];
    r_second = x[2];
    hourContent.innerHTML = r_hour;
    minuteContent.innerHTML = r_minute;
    secondeContent.innerHTML = r_second;
    if(button_status == "Start"){
        startWatch();
    }
    else if (button_status == "Resume")
        resumeWatch();
  
    else if(button_status == "Pause"){
        stopWatch();
    }

    else if(button_status == "Stop"){
        resetWatch();
    }
 }


//Functions
function resetWatch() {
    hourContent.innerHTML = '00';
    minuteContent.innerHTML = '00';
    secondeContent.innerHTML = '00';
    stopWatch();
}

function startWatch() {
    var seconde = parseInt(secondeContent.textContent.trim());
    watchInterval = setInterval(() => {
        seconde += 1;
        if(seconde == 60){
            seconde = 0;
            var minute = parseInt(minuteContent.textContent.trim());
            minute++;
            if(minute == 60){
                minute = 0;
                var hour = parseInt(hourContent.textContent.trim());
                hour++;
                if(hour == 24){
                    hour = 0;
                }
                if (hour < 10) {
                    hourContent.innerHTML = "0" + hour;
                }
                else {
                    hourContent.innerHTML = hour;
                }    
            }
            if (minute < 10) {
                minuteContent.innerHTML = "0" + minute;
            }
            else {
                minuteContent.innerHTML = minute;
            }    
        }
        if (seconde < 10) {
            secondeContent.innerHTML = "0" + seconde;
        }
        else {
            secondeContent.innerHTML = seconde;
        }

    }, 1000);
}

function resumeWatch() {
    var seconde = parseInt(secondeContent.textContent.trim());
    watchInterval = setInterval(() => {
        seconde += 1;
        if(seconde == 60){
            seconde = 0;
            var minute = parseInt(minuteContent.textContent.trim());
            minute++;
            if(minute == 60){
                minute = 0;
                var hour = parseInt(hourContent.textContent.trim());
                hour++;
                if(hour == 24){
                    hour = 0;
                }
                if (hour < 10) {
                    hourContent.innerHTML = "0" + hour;
                }
                else {
                    hourContent.innerHTML = hour;
                }    
            }
            if (minute < 10) {
                minuteContent.innerHTML = "0" + minute;
            }
            else {
                minuteContent.innerHTML = minute;
            }    
        }
        if (seconde < 10) {
            secondeContent.innerHTML = "0" + seconde;
        }
        else {
            secondeContent.innerHTML = seconde;
        }

    }, 1000);
}

function stopWatch() {
    if (watchInterval) {
        clearInterval(watchInterval);
    }
}
</script>

<!-- total hours calculation -->

<script>
        var hour=0;
        var minute=0;
        var second=0;

    array = []
    array1 = []
    var total = 0;
    $(document).ready(function() {
    // var counter_data = document.getElementById("counter_data").value;
    
    $(".counter_data").each(function () {
        var b = $(this).val();
        console.log(b)
        array.push(b)
    })
    console.log(array)

    for (var i = 0; i < array.length; i++) {
        array1.push(array [i].split(":"));
    }
console.log(array1)

console.log(array1[0])
    
})
</script>


{% endblock %}

{% endblock %}