{% extends "base.html" %}
{% load static %}
{% load permissions %}
{% block content %}

            <div class="content-right">
                <div class="margin-class-this">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="card card-shadow">

                                <div class="card-body body-change card-border project-detailpage">
                                    <div class="d-flex align-items-center justify-content-between">
                                        <div class="project-name">
                                            <h6>{{space_data.space_name}}</h6>
                                            <div class="checkbox checkbox-circle">
                                                <input id="checkbox7" type="checkbox">
                                                <label for="checkbox7">
                                                    {{sub_space_data.sub_space_name}}
                                                </label>
                                            </div>
                                            <p>Last changed 30/01/2023 by you</p>
                                        </div>
                                        <div class="d-flex">
                                            <div class="stage1">
                                                <ul class="demo-tags">
                                                  <li><a href="#">New</a></li>
                                                  <li><a href="#" class="yellw">In Progress</a></li>
                                                  <li><a href="#" class="grn">Done</a></li>
                                                </ul>
                                            </div>
                                            <div class="d-flex">
                                                <p id="output" class="text-center"></p>
                                                <div id="controls" class="text-center">
                                       
                                                    <button type="button" class="btn btn-pink waves-effect waves-light w-md m-b-5">SAVE</button>
                                                </div>
                                            </div>
                                           
                                           
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-5 mt-3">
                                            <div class="d-flex align-items-center assign-prjct">
                                                <img src="../static/assets/images/user-avatar.png" alt="" class="add-icn">

                                                {% for m in sub_space_data.invite_user_details_id.all %}

                                                <div class="profile-image d-flex align-items-center m-2">
                                                    <img src="./media/{{m.photo}}">                                                      
                                                </div>
                                                <span>{{m.name}}</span>
                                                {% endfor %}
                                            </div>

                                            <div class="labeltag d-flex align-items-center mt-4">
                                                <img src="../static/assets/images/price-tag.png" alt="" class="label-tag">
                                                <select class="select2" multiple="multiple"  id="myList">
                                                    <option value="1">Add label</option>
                                                    <option value="2">Red</option>
                                                    <option value="3">Blue</option>
                                                    <option value="4">Green</option>
                                                    <option value="5">Yellow</option>
                                                    <option value="6">Purple</option>
                                                  </select>
                                            </div>

                                            <div class="row mt-4 prjct-form">
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="field-2" class="control-label">Bucket</label>
                                                        <select class="ddl-select" id="list" name="list">
                                                            <option selected value="{{sub_space_data.bucket_mapping_id.id}}">{{sub_space_data.bucket_mapping_id}}</option>

                                                                {% for b in bucket_data %}
                                                                    {% if sub_space_data.bucket_mapping_id.status_name == b.status_name %}

                                                                        {% else %}
                                                                        <option  value="{{b.id}}">{{b.status_name}}</option>
                                                                    {% endif %}
                                                                {% endfor %}

                                                            
                                                          </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="field-2" class="control-label">Progress</label>
                                                        <select class="ddl-select-1" id="list1" name="list1">
                                                           <option selected value="{{sub_space_data.progress}}">{{sub_space_data.progress}}</option>

                                                            {% for p in progress %}
                                                            
                                                            {% if sub_space_data.progress == p.0 %}
                                                            {% else %}
                                                                <option>{{p.0}}</option>
                                                            {% endif %}
                                                            {% endfor %}                                                               
                                                        </select>                                                             
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="field-2" class="control-label">Priority</label>
                                                        <select class="ddl-select-2" id="list2" name="list2">
                                                            <option selected value="{{sub_space_data.priority}}">{{sub_space_data.priority}}</option>
                                                            {% for p in priority %}
                                                        
                                                            {% if sub_space_data.priority == p.0 %}
                                                            {% else %}
                                                                <option>{{p.0}}</option>
                                                            {% endif %}
                                                            {% endfor %}
                                                                                                                         
                                                        </select>                                                             
                                                    </div>
                                                      
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="field-2"
                                                            class="control-label">Start Date</label>
                                                        <div class="input-group">
                                                            <input type="text" value="{{sub_space_data.Planning_start_date|safe}}" class="form-control datepicker"
                                                                placeholder="" id="datepicker">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"><i
                                                                        class="md md-event"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="col-md-4">
                                                    <div class="form-group">
                                                        <label for="field-2"
                                                            class="control-label">Due Date</label>
                                                        <div class="input-group">
                                                            <input type="text" value="{{sub_space_data.Planning_end_date|safe}}" class="form-control datepicker"
                                                                placeholder="" id="datepicker1">
                                                            <div class="input-group-append">
                                                                <span class="input-group-text"><i
                                                                        class="md md-event"></i></span>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="field-2" class="control-label">Notes</label>
                                                        <textarea class="form-control" rows="3" id="example-textarea-input" placeholder="Type a description or add notes here">{{sub_space_data.notes}}</textarea>                              
                                                    </div>
                                                      
                                                </div>

                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="field-2" class="control-label mb-2">Checklist</label>
                                                        <div class="checkbox checkbox-circle">
                                                            <input id="checkbox7" type="checkbox">
                                                            <label for="checkbox7"><input  type="text" placeholder="Add an item" class="form-control checkitem"></label>
                                                            <!-- <label for="checkbox7">
                                                                Add an item
                                                            </label> -->
                                                        </div>                             
                                                    </div>
                                                      
                                                </div>
                                                <div class="col-md-12">
                                                    <div class="form-group">
                                                        <label for="field-2" class="control-label mb-2">Attachments</label>
                                                        <div class="add-attach" data-toggle="dropdown" aria-expanded="false">
                                                                Add attachment
                                                        </div> 
                                                        <ul class="dropdown-menu">
                                                            <li><a href="#" class="dropdown-item">From Computer</a></li>
                                                            <li><a href="#" class="dropdown-item" style="cursor: pointer;" data-toggle="modal" data-target="#url-modal">A link to a URL</a></li>
                    
                                                        </ul>                            
                                                    </div>
                                                      
                                                </div>
                                       
                                            </div>
                                            
                                        </div>

                                        <div class="col-md-7 timesheet-tab mt-3">

                                         
                                                <ul class="nav nav-tabs tabs" role="tablist" style="width: 100%;">
                                                    <li class="nav-item tab">
                                                        <a class="nav-link active" id="home-tab-2" data-toggle="tab" href="#home-2" role="tab" aria-controls="home-2" aria-selected="false">
                                                            <span class="d-block d-sm-none"><i class="fa fa-home"></i></span>
                                                            <span class="d-none d-sm-block">Task</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item tab">
                                                        <a class="nav-link" id="profile-tab-2" data-toggle="tab" href="#profile-2" role="tab" aria-controls="profile-2" aria-selected="true">
                                                            <span class="d-block d-sm-none"><i class="fa fa-user"></i></span>
                                                            <span class="d-none d-sm-block">Comments</span>
                                                        </a>
                                                    </li>
                                                    <li class="nav-item tab">
                                                        <a class="nav-link" id="message-tab-2" data-toggle="tab" href="#message-2" role="tab" aria-controls="message-2" aria-selected="false">
                                                            <span class="d-block d-sm-none"><i class="fa fa-envelope-o"></i></span>
                                                            <span class="d-none d-sm-block">Time Sheet</span>
                                                        </a>
                                                    </li>
                                                    
                                                </ul>
                                                <div class="tab-content">
                                                    <div class="tab-pane show active" id="home-2" role="tabpanel" aria-labelledby="home-tab-2">
                                                        <table id="datatable" class="table table-striped dt-responsive table-bordered nowrap table-padd" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                                            <thead class="border-class">
    
                                                                <tr class="heading-text">
                                                                    <th>Task title</th>
                                                                    <th>Assigned to</th>                                                                         
                                                                    <th>Due</th>
                                                                    <th>Bucket</th>
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
    
    
                                                            <tbody class="body-textcls vertcle-center">
                                                               
                                                                <tr>
                                                                    <td colspan="5" class="addlinetd">
                                                                        <a href="#" class="addline"><i class="md md-add-circle"></i> Add Task</a>
                                                                    </td>
                                                                </tr>
                                                                {% for i in task_data %}
                                                                <tr>
                                                                    <td>
    
                                                                        <div class="checkbox margin-check checkbox-primary checkbox-circle">
                                                                            <input id="checkbox-9" type="checkbox" class="padd-radio">
                                                                            <label for="checkbox-9">
                                                              
                                                            </label>
                                                                            <p class="main-head">{{i.task_name}}</p>
                                                                        </div>
    
                                                                    </td>
                                                                    <td>
                                                                        <div class="profile-image d-flex align-items-center">
                                                                            {% for j in i.add_task_space.all %}
                                                                            <img src="./media/{{j.invite_user_details_id.photo}}">
                                                                            {% endfor %}
                                                                            <div class="circle-user">
                                                                                <i class="ion-plus"></i>5
                                                                            </div>
                                                                          
                                                                        </div>
                                                                    </td>
                                                                   
                                                                    <td> <span class="badge badge-size badge-pill badge-danger"><i class="ion-calendar"></i>&ensp;{{i.end_date|safe}}</span></td>
                                                                    <td>
                                                                        {% if i.bucket_mapping_id.status_color == "red" %}
                                                
                                                                        <span class="badge badge-size badge-pill badge-red">{{i.bucket_mapping_id}}</span>
                        
                                                                        {% elif i.bucket_mapping_id.status_color == "yellowgreen" %}
                                                                        
                                                                        <span class="badge badge-size badge-pill badge-yellow">{{i.bucket_mapping_id}}</span>
                        
                                                                        {% elif i.bucket_mapping_id.status_color == "green" %}
                                                                        
                                                                        <span class="badge badge-size badge-pill badge-green">{{i.bucket_mapping_id}}</span>
                        
                                                                        {% elif i.bucket_mapping_id.status_color == "blue" %}
                                                                        
                                                                        <span class="badge badge-size badge-pill badge-primary">{{i.bucket_mapping_id}}</span>
                        
                                                                        {% elif i.bucket_mapping_id.status_color == "darkorange" %}
                                                                        
                                                                        <span class="badge badge-size badge-pill badge-info">{{i.bucket_mapping_id}}</span>
                        
                                                                        {% else %}
                                                                             <span class="badge badge-size badge-pill badge-secondary">{{i.bucket_mapping_id}}</span>
                                                                        {% endif %}
                                                                    </td>
                                                         
                                                                    <td class="d-flex justify-content-end align-items-center text-right">

                                                                        <a href="view_task_page.html" class="viewtasklink"><i class="fa fa-eye"></i> View Task</a>
    
                                                                        <button type="button" class="btn btn-more-data waves-effect waves-light" data-toggle="dropdown" aria-expanded="false">
                                                            <i class="md-more-vert"></i>
                                                    </button>
                                                                        <ul class="dropdown-menu">
                                                                            <li><a href="#" class="dropdown-item">Edit</a></li>
                                                                            <li><a href="#" class="dropdown-item">Delete</a></li>
                                                                        </ul>
    
                                                                    </td>
                                                                </tr>
                                                                
                                                               {% endfor %}
                                                    </tbody>
                                                    </table>
                                                    </div>
                                                    <div class="tab-pane" id="profile-2" role="tabpanel" aria-labelledby="profile-tab-2" style="display: none;">
                                                        <div class="row prjct-form">
                                                            <div class="col-md-12">
                                                                <div class="form-group mt-2">
                                                                    <!-- <label for="field-2" class="control-label">Comments</label> -->
                                                                    <textarea class="form-control" rows="3" id="example-textarea-input" placeholder="Type your message here"></textarea>                              
                                                                </div>
                                                                <button type="button" class="btn btn-pink waves-effect waves-light w-sm m-b-5 float-right">Send</button>
                                                            </div>

                                                            <div class="col-md-12 comment-sec">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="col px-0 pro-detail">
                                                                        <img src="../static/assets/images/ma.png" alt="" width="30px" class="mr-1">
                                                                        Muhammed Arshad
                                                                    </div>
                                                                    <div class="col px-0">
                                                                        <span>February 6, 2023 11:28 AM</span>
                                                                    </div>
                                                                </div>
                                                                <p>Task "demo" assigned to Mohammed Arshad</p>
                                                            </div>
                                                            <div class="col-md-12 comment-sec">
                                                                <div class="d-flex align-items-center">
                                                                    <div class="col px-0 pro-detail">
                                                                        <img src="../static/assets/images/ma.png" alt="" width="30px" class="mr-1">
                                                                        Muhammed Arshad
                                                                    </div>
                                                                    <div class="col px-0">
                                                                        <span>February 6, 2023 11:28 AM</span>
                                                                    </div>
                                                                </div>
                                                                <p>New Task "demo" created</p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="tab-pane" id="message-2" role="tabpanel" aria-labelledby="message-tab-2" style="display: none;">
                                                        <table id="datatable" class="table dt-responsive table-bordered nowrap table-padd time-sheet" style="border-collapse: collapse; border-spacing: 0; width: 100%;">

                                                            <thead class="border-class">
    
                                                                <tr class="heading-text">
                                                                    <th>Date</th>
                                                                    <th>Employee</th>
                                                                    <th>Description</th>
                                                                    <th>Hour Spent</th>                                                           
                                                                    <th></th>
                                                                </tr>
                                                            </thead>
    
    
                                                            <tbody class="body-textcls vertcle-center">
                                                                <tr>
                                                                    <td>01/12/2023</td>
                                                                    <td>
                                                                        <div class="profile-image d-flex align-items-center">
                                                                           
                                                                            <img src="assets/images/users/avatar-4.jpg">
                                                                               <span>Jhone Jacson</span> 
                                                                        </div>
                                                                    </td>
                                                                    <td>Requirment Analysis</td>
                                                                    <td>01:00</td>                                                               
                                                                    <td><i class="fa-regular fa-trash-can"></i></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>01/12/2023</td>
                                                                    <td>
                                                                        <div class="profile-image d-flex align-items-center">
                                                                           
                                                                            <img src="assets/images/users/avatar-4.jpg">
                                                                               <span>Jhone Jacson</span> 
                                                                        </div>
                                                                    </td>
                                                                    <td>Requirment Analysis</td>
                                                                    <td>01:00</td>                                                               
                                                                    <td><i class="fa-regular fa-trash-can"></i></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>01/12/2023</td>
                                                                    <td>
                                                                        <div class="profile-image d-flex align-items-center">
                                                                           
                                                                            <img src="assets/images/users/avatar-4.jpg">
                                                                               <span>Jhone Jacson</span> 
                                                                        </div>
                                                                    </td>
                                                                    <td>Requirment Analysis</td>
                                                                    <td>01:00</td>                                                               
                                                                    <td><i class="fa-regular fa-trash-can"></i></td>
                                                                </tr>
                                                                <tr>
                                                                    <td>01/12/2023</td>
                                                                    <td>
                                                                        <div class="profile-image d-flex align-items-center">
                                                                           
                                                                            <img src="assets/images/users/avatar-4.jpg">
                                                                               <span>Jhone Jacson</span> 
                                                                        </div>
                                                                    </td>
                                                                    <td>Requirment Analysis</td>
                                                                    <td>01:00</td>                                                               
                                                                    <td><i class="fa-regular fa-trash-can"></i></td>
                                                                </tr>
                                                            </tbody>
                                                        </table>

                                                        <div class="d-flex hours-spent">
                                                            <div class="col-md-6 t-hr">
                                                                <h5>Total hours spent : <span>48:30</span></h5>
                                                            </div>
                                                            <div class="col-md-6 r-hr text-right">
                                                                <h5>Remaining hours : <span>08:30</span></h5>
                                                            </div>
                                                        </div>
                                                    </div>
                                                   
                                                </div>
                                          
                                      

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        
        </div>
    </div>
</div>


{% block scripts %}

<script>
    var colors = ["red", "blue", "green", "orange", "yellow"];

    $(document).ready(function () {
        var checkList = [1];
        $("#myList").select2({
            width: "100%",
            templateSelection: function (data, container) {
                var selection = $('#myList').select2('data');
                var idx = selection.indexOf(data);
                console.log(">>Selection", data.text, data.idx, idx);
                data.idx = idx;

                // $(container).css("background-color", colors[data.idx]);
                return data.text;
            },
        }).val(checkList).trigger("change");

    })
</script>

<script>
    $(function () {
        $(".ddl-select, .ddl-select-1, .ddl-select-2, .ddl-select-3").each(function () {
            $(this).hide();
            var $select = $(this);
            var _id = $(this).attr("id");
            var wrapper = document.createElement("div");
            wrapper.setAttribute("class", "ddl ddl_" + _id);

            var input = document.createElement("input");
            input.setAttribute("type", "text");
            input.setAttribute("class", "ddl-input");
            input.setAttribute("id", "ddl_" + _id);
            input.setAttribute("readonly", "readonly");
            input.setAttribute(
                "placeholder",
                $(this)[0].options[$(this)[0].selectedIndex].innerText
            );

            $(this).before(wrapper);
            var $ddl = $(".ddl_" + _id);
            $ddl.append(input);
            $ddl.append("<div class='ddl-options ddl-options-" + _id + "'></div>");
            var $ddl_input = $("#ddl_" + _id);
            var $ops_list = $(".ddl-options-" + _id);
            var $ops = $(this)[0].options;
            for (var i = 0; i < $ops.length; i++) {
                $ops_list.append(
                    "<div data-value='" +
                    $ops[i].value +
                    "'>" +
                    $ops[i].innerText +
                    "</div>"
                );
            }

            $ddl_input.click(function () {
                $ddl.toggleClass("active");
            });
            $ddl_input.blur(function () {
                $ddl.removeClass("active");
            });
            $ops_list.find("div").click(function () {
                $select.val($(this).data("value")).trigger("change");
                $ddl_input.val($(this).text());
                $ddl.removeClass("active");
            });
        });
    });
</script>

<script>
jQuery(document).ready(function() {

    // Tags Input
    jQuery('#tags').tagsInput({
        width: 'auto'
    });

    // Time Picker
    jQuery('#timepicker').timepicker({
        defaultTIme: false
    });
    jQuery('#timepicker2').timepicker({
        showMeridian: false
    });
    jQuery('#timepicker3').timepicker({
        minuteStep: 15
    });

    // Date Picker
    jQuery('.datepicker').datepicker();
    jQuery('#datepicker-inline').datepicker();
    jQuery('#datepicker-multiple').datepicker({
        numberOfMonths: 3,
        showButtonPanel: true
    });
   
});
</script>
<script>
var time = 0;
var running = 0;

function startPause() {
if (running == 0) {
    running = 1;
    increment();
    document.getElementById("startPause").innerHTML = "STOP";
} else {
    running = 0;
    document.getElementById("startPause").innerHTML = "START";
}
}

function reset(){
running = 0;
time = 0;
document.getElementById("startPause").innerHTML = "START";
document.getElementById("output").innerHTML = "00:00:00";
}

function increment() {
if (running == 1) {
    setTimeout(function() {
        time++;
        var mins = Math.floor(time/10/60);
        var secs = Math.floor(time/10 % 60);
        var tenths = time % 10;
        if (mins < 10) {
          mins = "0" + mins;
        } 
        if (secs < 10) {
          secs = "0" + secs;
        }
        document.getElementById("output").innerHTML = mins + ":" + secs + ":" + "0" + tenths;
        increment();
    },100);
}
}
</script>
{% endblock %}



{% endblock %}